* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.calculator {
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  .display {
    height: 50px;
    font-size: 36px;
    background-color: #ddd;
    margin: 20px 0;
    padding: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  
  button {
    background-color: #fff;
    border: 1px solid #333;
    padding: 20px;
    font-size: 24px;
  }
  